*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #3A506B;
    min-height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
    position: absolute;
    left: 5.5rem;
    font-weight:500;

    ::placeholder{
        font-weight: 600;
    }
}

#glass{
    margin-right: -3.5rem;
    font-size: 1.5rem;
}

#search{
    height: 2rem;
    width: 12rem;
    padding-left: 2.25rem;
    outline: none;
    border: 1px solid rgba(43, 42, 42, 0.363);
    box-shadow: 0px 3px 1px 1px rgba(43, 42, 42, 0.363);
    border-radius:5px ;
}

.filters-container,
.categories-container,
.sort-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10.5rem;
    user-select: none;
}

.filters,
.categories,
.sort{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: .5rem;
    color: #060e25;
    cursor: pointer;
    transition: all 250ms linear;
    padding: 10px 10px;
    border-radius:10px ;
    

    >span{
        font-size: .75rem;
    }
    
    >ion-icon{
        transition: all 250ms linear;
        font-size: 1.15rem;
    }
    
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: -2rem;
    
    >label{
        font-size: .75rem;
    }
}

.active{
    background-color: #060e25;
    color: white;

    >ion-icon{
        transform: rotate(180deg);
    }
}


.options{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: .75rem;
    visibility: hidden;
    transition:  all 250ms linear;
    transform-origin: top;
    scale: 0;
    box-shadow: 0 2px 3px 3px rgba(43, 42, 42, 0.363);

    >span{
        padding: 5px;
        border-radius: 5px;
    }

    >span:hover{
        background-color: #3a506b3f;
        cursor: pointer;
    }
}

.active-menu{
    scale: 1;
    visibility: visible;
}

.app-box{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    background-color: #5BC0BE;
    color: #0B132B;
    position: absolute;
    top: 20rem;
    left: 30rem;
    height: 20rem;
    width: 20rem;
    z-index: -1;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 3px 3px 2px rgba(43, 42, 42, 0.363);
}

.grey-box{
    height: 4rem;
    width: 4rem;
    background-color: #3A506B;
    border-radius: 5px;
}

p{
    font-size: .85rem;
    font-weight: 500;
    width: 75%;
}

.span-container{
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    margin: 1rem 0 2rem ;

    >* {
        padding: 3px 10px;
        background-color: #3a506b44;
        border-radius: 10px;
        font-weight: 700;
        color: #0B132B;
    }
}

.star-container > *{
    color: gold;
    font-size: 1.25rem;
}

u{
    font-weight: 700;
    font-size: .85rem;
    margin-top: -8px;
}