*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #3A506B;
}

.header{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
    position: absolute;
    top: 7.5rem;
    left: 5rem;
    font-weight:500 ;

    ::placeholder{
        font-weight: 600;
    }
}

#glass{
    margin-right: -3.5rem;
    font-size: 1.5rem;
}

#search{
    height: 2rem;
    width: 12rem;
    padding-left: 2.25rem;
    outline: none;
    border: 1px solid rgba(43, 42, 42, 0.363);
    box-shadow: 0px 3px 1px 1px rgba(43, 42, 42, 0.363);
    border-radius:5px ;
}

.filters,
.categories,
.sort{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #060e25;
    cursor: pointer;
    transition: all 250ms linear;
    padding: 10px 10px;
    border-radius:10px ;

    >span{
        font-size: .75rem;
    }
    
    >ion-icon{
        transition: all 250ms linear;
        font-size: 1.15rem;
    }
    
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 6px;
    
    >label{
        font-size: .75rem;
    }
}

.active{
    background-color: #060e25;
    color: white;

    >ion-icon{
        transform: rotate(180deg);
    }
}

.sort-options{
    display: flex;
    position: absolute;
    top: 10.5rem;
    left: 20.5rem;
}

.sort-options > .options:nth-child(1){
    margin-right: 8.1rem;
}

.sort-options > .options:nth-child(2){
    margin-right:2.25rem;
}

.options{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: .75rem;
    visibility: hidden;
    transition:  all 250ms linear;
    transform-origin: top;
    scale: 0;

    >span{
        padding: 5px;
        border-radius: 5px;
    }

    >span:hover{
        background-color: #3a506b3f;
        cursor: pointer;
    }
}

.active-menu{
    scale: 1;
    visibility: visible;
}

.app-box{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    position: absolute;
    top: 30rem;
    left: 30rem;
    height: 25rem;
    width: 25rem;
}